@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Hind+Guntur&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .header a {
    color: #fff;
    text-decoration: none;
  }
  
  .header nav a {
    margin-left: 20px;
  }
  
  #hero {
    display: flex;
    align-items: center;
    height: 500px;
  }
  
  #hero-box {
    flex: 1;
  }
  
  #hero-img {
    width: 100%;
    height: 100%;
  }
  
  #hero-msg {
    background-color: rgba(255, 255, 255, 0.7);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home-title {
    font-size: 48px;
  }
  
  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  .director img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 20px;
  }
  
  .mission statement {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: center;
  }
  
  .donate button {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }